<div class='container-fluid'>
  <div class='row'>
    <br>
    <p>Matches the subtext against the text, outputting the character positions of the beginning of each match for the subtext within the text.</p>
    <br>
    <label for="txtText">Text:</label><br>
    <textarea rows="4" cols="50" id="txtText" name="txtText" (input)="onTextChange($event.target.value)"></textarea><br>
    <label for="txtSubtext">Subtext:</label><br>
    <input type="text" id="txtSubtext" name="txtSubtext" (input)="onSubtextChange($event.target.value)"><br>
    <br>
    <ng-container *ngIf="matches != 0">
      <label>Matches were found at the following indexes:</label><br>
      <div *ngFor="let match of matches">{{match.index}}</div>
    </ng-container>
  </div>
  <br>
  
</div>
